<nav>
  <ol>
    <div class="wrapper" >
      <form [formGroup]="messageForm" class= "form-signin" (ngSubmit)="onSubmit()">
        <h2 class="form-signin-header">Inicie sesión</h2>
        
        <input type="text" formControlName="username" class="form-control" placeholder="User">
        <div *ngIf="submitted && messageForm.controls.username.errors">
          <div *ngIf="messageForm.controls.username.errors.required">Es obligatorio especificar nombre de usuario</div>
        </div>

        <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
        <div *ngIf="submitted && messageForm.controls.password.errors">
          <div *ngIf="messageForm.controls.password.errors.required">Es obligatorio especificar la contraseña</div>
        </div>

        <a routerLink="home">
          <button class="btn btn-primary btn-block" type="submit"> Iniciar Sesión </button>
        </a> 

      </form>
    </div>
  </ol>
</nav>