<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="submit()"
      class="col-5"
      novalidate
    >
      <br />
      <br />
      <br />
      <h1 class="display-5 text-center text-bg-dark">
        Bienvenido Analista del DoS
      </h1>
      <h1 class="display-5 text-center text-bg-dark">¡Inicia sesion!</h1>
      <br />
      <div class="form-group ">
        <label for="userLabel">id</label>
        <input
          formControlName="id"
          type="text"
          class="form-control"
          id="InputUsuario"
          placeholder="Ingrese su id"
          required
        />

        <div *ngIf="loginForm.get('id').errors" class="alert alert-danger">
          <div *ngIf="loginForm.get('id').errors['required']">id requerido</div>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordLabel">Contraseña</label>
        <input
          formControlName="clave"
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="ingrese su contraseña"
          required
        />

        <div *ngIf="loginForm.get('clave').errors" class="alert alert-danger">
          <div *ngIf="loginForm.get('clave').errors['required']">
            Contraseña requerida
          </div>
        </div>
      </div>

      <div
        *ngIf="correctoLogin == false"
        class="alert alert-dismissible alert-danger"
      >
        <strong>id o contraseña incorrectos, intente nuevamente</strong>
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        [disabled]="!loginForm.valid"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="large"
  color="#fff"
  type="ball-8bits"
></ngx-spinner>
