<section class="body">
  <div>
    <div class="display-3" style="text-align: center; padding: 5%;">
      <h1>ECS Bolumbia</h1>
    </div>
    <div class="wrapper">
      <form
        [formGroup]="messageForm"
        class="form-signin"
        (ngSubmit)="onSubmit()"
      >
        <h2 class="form-signin-header">Inicie sesión</h2>

        <input
          type="text"
          formControlName="ECN"
          class="form-control"
          placeholder="ECN"
        />
        <div *ngIf="submitted && messageForm.controls.ECN.errors">
          <div *ngIf="messageForm.controls.ECN.errors.required">
            Es obligatorio especificar ECS
          </div>
        </div>

        <input
          type="text"
          formControlName="CFN"
          class="form-control"
          placeholder="CFN"
        />
        <div *ngIf="submitted && messageForm.controls.CFN.errors">
          <div *ngIf="messageForm.controls.CFN.errors.required">
            Es obligatorio especificar CNF
          </div>
        </div>
        <input
          class="btn btn-primary btn-block"
          type="submit"
          value="Iniciar Sesión"
        />
      </form>
    </div>
  </div>
</section>
